<!DOCTYPE html>
<html>
<head>
  <title>Instajobs</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/favicon' %>
	<%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>

</head>
<body>
	<%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
